.message-container,
.immo-container,
.vehicle-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    border: 1px solid #000000; /* Rahmen für alle Container */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
