<div class="container">
    <ul class="car-list">
        <li class="car-item" *ngFor="let item of items">
            <div class="titel">
                <h2>{{ item.Marke }}, {{ item.Type }}, {{ item.Model }}</h2>
            </div>
            <div class="car-image">
                <img [src]="item.imageReady" alt="Verkaufsbilder">
            </div>
            <div class="car-info">
                <p>{{ item.description }}</p>
                <p>{{ item.fuel }}</p>
                <p>{{ item.condition }}</p>
                <div class="car-details">
                    <span><strong>EZ {{ item.regristationDate }}</strong></span>
                    <span><strong>{{ item.mileage}} km</strong></span>
                    <span><strong>{{ item.price}} €</strong></span>
                </div>
            
            </div>
        </li>
    </ul>
</div>