.car-sell-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.car-sell-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
}

.car-sell-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.color-dropdown {
  position: relative;
  display: flex; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer; /* Muas wird zu Hand */
  background-color: #fff;
}

.selected-color {
  display: flex; 
  align-items: center; /* Schrift in die Mitte */
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 0px;
  border: 1px solid #000000;
  margin-right: 10px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0; /* wie weit ist die box vom selected color weg */
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(152, 152, 237, 0.1);
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}
