<body>
    <div class="container">
        <div class="header">Gebrauchtwagen</div>
        <div class="form-title">Welches Fahrzeug suchst du?</div>
        <div class="vehicle-types">
            <!-- [ngClass] ermöglicht dynamisch CSS auf ein Element anzuwenden
                 jenachdem welches img angeklickt wird, wird das Vehicle gespeicher
                 sobald isSelected === true is, wird die CSS-Klasse "selected" angewendet
            -->
            <div class="vehicle" (click)="selectVehicle('Limousine')">
                <img [ngClass]="{ 'selected': isSelected('Limousine') }" src="limousine.jpg" alt="Limousine">
                <p class="vehicle-title">Limousine</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('SUV')">
                <img [ngClass]="{ 'selected': isSelected('SUV') }" src="suv.jpg" alt="SUV">
                <p class="vehicle-title">SUV</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Kombi')">
                <img [ngClass]="{ 'selected': isSelected('Kombi') }" src="kombi.jpg" alt="Kombi">
                <p class="vehicle-title">Kombi</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Sportwagen')">
                <img [ngClass]="{ 'selected': isSelected('Sportwagen') }" src="sportauto.jpg" alt="Sportwagen">
                <p class="vehicle-title">Sportwagen</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Cabrio')">
                <img [ngClass]="{ 'selected': isSelected('Cabrio') }" src="cabrio.jpg" alt="Cabrio">
                <p class="vehicle-title">Cabrio</p>
            </div>
        </div>
        
        <form class="search-form">
            <select name="marke" [(ngModel)]="selectedBrand" (change)="loadModels()"> <!-- sobald eine andere Marke ausgesucht wird -> neue Modelle laden -->
                <option value="Marke">Marke</option> 
                <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
            </select>            
            <select name="modell">
                <option value="">Modell</option>
                <option *ngFor="let model of models" [value]="model">{{ model }}</option>
            </select>
            <input type="text" placeholder="Suchbegriff">
            <select name="kilometerstand">
                <option value="">km-Stand bis</option>
                <option value="50000">50.000 km</option>
                <option value="100000">100.000 km</option>
            </select>
            <select name="ez">
                <option value="">EZ ab</option>
                <option value="2020">2020</option>
                <option value="2015">2015</option>
            </select>
            <input type="number" placeholder="Preis bis" min="0">
            <div class="checkbox">
                <input type="checkbox" id="new-cars">
                <label for="new-cars">nur Neu- und Jungwagen</label>
            </div>
            <button id="showCarListButton" (click)="countCars()">
                {{ counter }} {{carListButtonText}}
            </button>
        </form>
    </div>
</body>
<!-- wenn der Button gedrückt wird, dann wird die CarListComponente angezeigt
     wird er erneut betätigt, dann verschwindet sie
-->
<app-car-list *ngIf="showCarList"></app-car-list>
