<p>car-search works!</p>
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fahrzeugsuche</title>
    
</head>
<body>
    <div class="container">
        <div class="header">Gebrauchtwagen</div>
        <div class="form-title">Welches Fahrzeug suchst du?</div>
        <div class="vehicle-types">
            <div class="vehicle" (click)="selectVehicle('Limousine')">
                <img [ngClass]="{ 'selected': isSelected('Limousine') }" src="limousine.jpg" alt="Limousine">
                <p class="vehicle-title">Limousine</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('SUV')">
                <img [ngClass]="{ 'selected': isSelected('SUV') }" src="suv.jpg" alt="SUV">
                <p class="vehicle-title">SUV</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Kombi')">
                <img [ngClass]="{ 'selected': isSelected('Kombi') }" src="kombi.jpg" alt="Kombi">
                <p class="vehicle-title">Kombi</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Sportwagen')">
                <img [ngClass]="{ 'selected': isSelected('Sportwagen') }" src="sportauto.jpg" alt="Sportwagen">
                <p class="vehicle-title">Sportwagen</p>
            </div>
            <div class="vehicle" (click)="selectVehicle('Cabrio')">
                <img [ngClass]="{ 'selected': isSelected('Cabrio') }" src="cabrio.jpg" alt="Cabrio">
                <p class="vehicle-title">Cabrio</p>
            </div>
        </div>
        
        <form class="search-form">
            <select name="marke">
                <option value="">Marke</option> <!-- Standardwert -->
                <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
            </select>
            <select name="modell">
                <option value="">Modell</option>
                <option value="modell1">Modell 1</option>
                <option value="modell2">Modell 2</option>
            </select>
            <input type="text" placeholder="Suchbegriff">
            <select name="kilometerstand">
                <option value="">km-Stand bis</option>
                <option value="50000">50.000 km</option>
                <option value="100000">100.000 km</option>
            </select>
            <select name="ez">
                <option value="">EZ ab</option>
                <option value="2020">2020</option>
                <option value="2015">2015</option>
            </select>
            <input type="number" placeholder="Preis bis" min="0">
            <div class="checkbox">
                <input type="checkbox" id="new-cars">
                <label for="new-cars">nur Neu- und Jungwagen</label>
            </div>
            <button (click)="countCars()">
                {{ counter }} Fahrzeuge anzeigen
            </button>
        </form>
    </div>
</body>
</html>
